.AboutUsContainer {
    background-color: var(--color-white) !important;
}

.AboutUsTitle h3 {

    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-pink);
}

.AboutUsTitle h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: var(--color-deepblue);
}


.AboutUsTitle p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--color-black);
}

.AboutUsCardsContainer {
    text-align: center;
}

.AboutUsCardsContainer img {
    /* width: 130px;
    height: 132px; */
    /* left: auto;
    right: auto;
    margin-top: 60px; */
}

.AboutUsCard {
    background-color: var(--color-aqua) !important;
    border-radius: 50px !important;
    width: 340px !important;
    height: 300px !important;
    margin-top: 20px;  
}

.AboutUsCardTitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px !important;
    line-height: 59px;
    color: var(--color-deepblue) !important;
}

.AboutUsCardText {
    font-family: 'DM Sans';
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: 305px !important;
    height: 222px !important;
    color: var(--color-deepblue) !important;
}

@media only screen and (min-width: 360px) and (max-width: 768px) {

}

@media only screen and (min-width: 778px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1240px) {

}