.AboutUsContainer {
    background-color: var(--color-white) !important;
}

.AboutUsTitle h3 {
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-pink);
}

.AboutUsTitle h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: var(--color-deepblue);
}


.AboutUsTitle p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--color-black);
}

.AboutUsCardsContainer {
    text-align: center;
}

.AboutUsCardsContainer img {
}

.AboutUsCard {
    background-color: var(--color-aqua) !important;
    border-radius: 50px !important;
    margin-top: 20px;  
}

.AboutUsCardTitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 38px !important;
    line-height: 59px;
    color: var(--color-deepblue) !important;
}

.AboutUsCardText {
    font-family: 'DM Sans';
    font-style: normal;
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    width: auto !important;
    height: auto !important;
    color: var(--color-deepblue) !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) { /*Mobile devices*/
    .AboutUsCardText {
        font-size: 14px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { /*iPads, Tablets*/

}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Small screens, laptops*/

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktops, large screens*/
    .AboutUsCard {
        width: 300px !important;
        height: 510px !important;
    }
}

@media only screen and (min-width: 1201px){ /*Desktops, large screens*/
    .AboutUsCard {
        width: 380px !important;
        height: 385px !important;
    }
}