.FooterContainer {
    margin: 40px;
    color: var(--color-darkgray);
}

.FooterContainer a {
    color: var(--color-darkgray);
    text-decoration: none;
}

.FooterContainer a:hover {
    color:var(--color-pink);
}

.FooterCopyright {
    color: var(--color-darkgray);
    text-align: center;
}


@media only screen and (min-width: 360px) and (max-width: 768px) {

}

@media only screen and (min-width: 778px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1240px) {

}