.FooterContainer {
    margin: 40px;
    color: var(--color-darkgray);
}

.FooterContainer a {
    color: var(--color-darkgray);
    text-decoration: none;
}

.FooterContainer a:hover {
    color:var(--color-pink);
}

.FooterCopyright {
    color: var(--color-darkgray);
    text-align: center;
}

.FooterIcon {
    color: var(--color-deepblue);
}


@media only screen and (min-width: 320px) and (max-width: 480px) { /*Mobile devices*/

}

@media only screen and (min-width: 481px) and (max-width: 768px) { /*iPads, Tablets*/

}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Small screens, laptops*/

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktops, large screens*/

}