.FormContainer {
    background-image: url('./../assets/image/mapBackground.png') !important;
    background-repeat: no-repeat;
    max-height: none !important;
    max-width: none !important;
}

/* .FormTitle {
    margin-left: 150px;
} */

.FormTitle h1 {
    margin-top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: left;
    color: var(--color-deepblue);
}

.FormTitle h3 {
    margin-top: 100px;
    text-align: left;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-pink);
}

.FormStructure {
    margin-top: 100px;
}

.ButtonForm {
    border-radius: 58px !important;
    background-color: var(--color-pink) !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 24px !important;
    line-height: 27px !important;
    width: 200px !important;
    height: 70px !important;
    margin-bottom: 460px !important;
}

.ButtonForm:hover {
    background-color: var(--color-deepblue) !important;
}

.ButtonForm:hover > .IconForm {
    color: var(--color-white);
}

.IconForm {
    size: 30px!important;
    color: var(--color-deepblue);
}

@media only screen and (min-width: 320px) and (max-width: 480px) { /*Mobile devices*/

}

@media only screen and (min-width: 481px) and (max-width: 768px) { /*iPads, Tablets*/

}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Small screens, laptops*/

}

@media only screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktops, large screens*/

}