.HeroSectionContainer{
    background-image: url('./../assets/image/imagen-principal.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.HeroSection h1{
    font-family: "Anton", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 83px;
    color: var(--color-deepblue);
}

.HeroSection h2{
    font-family: "Anton", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    color: var(--color-deepblue);
}

.HeroSection p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-deepblue);
}

.HeroSection button{
    border-radius: 50px;
    background-color: var(--color-deepblue);
    border: none;
    font-weight: 500;
    line-height: 48px;
}

.HeroSection button:hover{
    background-color: var(--color-seablue);
}

.HeroSection button:hover > .IconHero {
    color: var(--color-white);
}

.ButtonClass{
    width: 300px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 32px !important;
}

.IconHero{
    size: 30px!important;
    color: var(--color-white);
}

.OurPartnersContainer{
    margin-top: 70px;
}

.OurPartnersContainer img{
    margin-top: 10px;
}

.OurPartners{
    justify-content: space-between;
}

@media only screen and (min-width: 320px) and (max-width: 480px) { /*Mobile devices*/
    .HeroSection h1{
        font-size: 35px;
    }
    
    .HeroSection h2{
        font-size: 20px;
    }
    
    .HeroSection p{
        font-size: 14px;
    }

    .HeroSection button{
        width: auto !important;
    }

    .OurPartnersContainer img{
        margin-top: 20px;
        width: 180px;
        height: 100px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { /*iPads, Tablets*/    
    .HeroSection p{
        padding-right: 100px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Small screens, laptops*/
    /* .HeroSection p{
        padding-right: 225px;
    } */
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktops, large screens*/

}