.HeroSectionContainer{
    background-image: url('./../assets/image/imagen-principal.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.HeroSection h1{
    padding-top: 6px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 83px;
    color: var(--color-deepblue);
}

.HeroSection h3{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3em;
    color: var(--color-aqua);
}

.HeroSection p{
    margin-top: 40px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-black);
}

.HeroSection button{
    border-radius: 58px;
    background-color: var(--color-pink);
    border: none;
    font-weight: 500;
    line-height: 48px;
    padding: 17px 17px 17px 27px !important; 
}

.HeroSection button:hover{
    background-color: var(--color-deepblue);
}

.HeroSection button:hover > .IconHero {
    color: var(--color-white);
}

.ButtonClass{
    width: 300px !important;
    font-style: normal;
    font-weight: 500;
    font-size: 32px !important;
}

.IconHero{
    size: 30px!important;
    color: var(--color-deepblue);
}

.OurPartnersContainer{
    margin-top: 70px;
}

.OurPartnersContainer img{
    margin-top: 10px;
}

.OurPartners{
    justify-content: space-between;
}