.NavBarLucbol {
    background-color: var(--color-aqua) !important;
    height: 103px;
}

.NavBarBrandLogo {
    margin-left: 147px;
}

.NavBarLucbol a {
    color: var(--color-white);
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
}

.NavBarLucbol a:hover {
    color:var(--color-deepblue);
}

.NavCenter {
    padding-top: 20px !important;
}

.ButtonClass {
    border-radius: 58px !important;
    background-color: var(--color-pink) !important;
    border: none !important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 27px !important;
    padding: 17px 17px 17px 27px !important; 
}

.ButtonClass:hover  {
    background-color:var(--color-deepblue) !important;
}

.ButtonRotate {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 6px;
    transform: rotate(-90deg);
    color: var(--color-white);
}

.NavBarRedes{
    margin-right: 57px;
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
    .NavBarBrandLogo {
        margin-left: 1rem !important;
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 778px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1024px) and (max-width: 1240px) {

}