.OurServiceContainer {
    background-color: var(--color-white) !important;
    margin-top: 100px;
}

.OurServiceBrand{
    margin-top: 10%;
    background-color: var(--color-pink) !important;
    width: 90%;
    text-align: center;
    color: var(--color-white);
    position: relative;
}

.OurServiceBrand h2{
    padding: 2rem 0rem 0rem 0rem;
    letter-spacing: 0.3em;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.OurServiceBrand p{
    padding: 1.5rem 2rem;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.OurServiceBrandText {
    color: var(--color-white);
    background-color:var(--color-deepblue);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    left: 38px;
    text-align: center;
    position: absolute;
    margin: -55px;
    margin-left: -130px;
}

.OurServiceBrandText p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    width: 200px;
    height: 180px;
}

.OurServicesTitle {
    padding-top: 10px;
}

.OurServicesTitle h1 {
    margin-top: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 78px;
    text-align: center;
    color: var(--color-blue);
}

.OurServicesTitle h3 {
    margin-top: 100px;
    text-align: center;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-blue);
}

.OurServicesTitle p {
    margin-top: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: var(--color-grey);
}

.OurServicesCardsContainer {
    padding: 10px;
    padding-bottom: 100px;
}

.OurServicesCard {
    border: none !important;
    align-items: center;
    margin-top: 20px;   
}

.OurServicesCardBody{
    border-radius: 50px;
    background-color: var(--color-deepblue);
    color: var(--color-blue) !important;
    margin-top: -2rem;
    /* width: 97%; */
}

.OurServicesCardTitle {
    text-align: center;
    color: var(--color-white) !important;
}

.OurServicesCardText {
    text-align: justify;
    color: var(--color-white) !important;
}

@media only screen and (min-width: 320px) and (max-width: 480px) { /*Mobile devices*/
    .OurServiceBrandText {
        margin-left: -80px;
        width: 160px !important;
        height: 160px !important;
    }
    .OurServiceBrandText p{
        margin-top: 10px;
        width: 150px !important;
        font-size: 20px;
        line-height: 28px !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) { /*iPads, Tablets*/
    .OurServiceBrandText {
        margin-left: -80px;
    }

    .OurServicesCardTitle{
        font-size: 10px;
    }

    .OurServicesCardText {
        font-size: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { /*Small screens, laptops*/
    .OurServiceBrandText {
        margin-left: -80px;
    }
    .OurServicesCardTitle{
        font-size: 20px;
    }
    .OurServicesCardText {
        font-size: 10px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) { /*Desktops, large screens*/
    .OurServiceBrandText {
        margin-left: -100px;
    }

    .OurServicesCardTitle{
        font-size: 10px;
    }
    .OurServicesCardText {
        font-size: 16px;
    }
    .OurServicesCardBody{
        height: 260px !important;
    }
}